<div>
    <h2 id="page-heading">
        <span jhiTranslate="iconnectSampleAppLabApp.incident.home.title">Incidents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incident" [routerLink]="['/incident/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iconnectSampleAppLabApp.incident.home.createLabel">
            Create a new Incident
            </span>
        </button>
    </h2>

    <ic-alert-error></ic-alert-error>

    <ic-alert></ic-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="incidents?.length === 0">
        <span jhiTranslate="iconnectSampleAppLabApp.incident.home.notFound">No incidents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="incidents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="incidentReferenceId"><span jhiTranslate="iconnectSampleAppLabApp.incident.incidentReferenceId">Incident Reference Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="incidentName"><span jhiTranslate="iconnectSampleAppLabApp.incident.incidentName">Incident Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="incidentStatus"><span jhiTranslate="iconnectSampleAppLabApp.incident.incidentStatus">Incident Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="incidentDate"><span jhiTranslate="iconnectSampleAppLabApp.incident.incidentDate">Incident Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incident of incidents ;trackBy: trackId">
                    <td><a [routerLink]="['/incident', incident.id, 'view']">{{ incident.id }}</a></td>
                    <td>{{ incident.incidentReferenceId }}</td>
                    <td>{{ incident.incidentName }}</td>
                    <td jhiTranslate="{{ 'iconnectSampleAppLabApp.IncidentStatus.' + incident.incidentStatus }}">{{ incident.incidentStatus }}</td>
                    <td>{{ incident.incidentDate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/incident', incident.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/incident', incident.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(incident)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="incidents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
