<div>
    <h2 id="page-heading">
        <span jhiTranslate="iconnectSampleAppLabApp.bed.home.title">Manage Bed</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bed" [routerLink]="['/bed/new']" [disabled]="wards.length === 0">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iconnectSampleAppLabApp.bed.home.addLabel">
            Add Bed
            </span>
        </button>
    </h2>
    <ic-alert></ic-alert>
    <br/>
    <div *ngIf="beds && beds.length > 0; else noBeds">
        <div class="d-flex align-items-start">
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search for Bed"
                    [(ngModel)]="searchBedName"
                    name="searchBedName"
                    autocomplete="off"
                />
            </div>
            <button class="btn btn-primary ml-2" (click)="filterBeds()">Search</button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th><span jhiTranslate="global.field.sn">SN</span></th>
                <th jhiSortBy="wardName"><span jhiTranslate="iconnectSampleAppLabApp.bed.wardName">Ward Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="bedReferenceId"><span jhiTranslate="iconnectSampleAppLabApp.bed.bedReferenceId">Bed Reference ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="bedName"><span jhiTranslate="iconnectSampleAppLabApp.bed.bedName">Bed Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="filteredBeds.length === 0">
                    <td colspan="6" class="text-center">No matching records</td>
                </tr>
                <tr *ngFor="let bed of filteredBeds;trackBy: trackId">
                    <td><a [routerLink]="['/bed', bed.id, 'view' ]">{{bed.id}}</a></td>
                    <td>{{bed.wardName}}</td>
                    <td>{{bed.bedReferenceId}}</td>
                    <td>{{bed.bedName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/bed', bed.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/bed', bed.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                                    <!-- [routerLink]="['/', { outlets: { popup: 'bed/'+ bed.id + '/delete'} }]" -->
                            <button type="submit"
                                    [routerLink]="['/bed', bed.id, 'delete']"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
    <ng-template #noBeds>
        <div class="alert-info" role="alert">
            Please add a bed.
        </div>
    </ng-template>
</div>
