<div>
    <h2 id="page-heading">
        <span jhiTranslate="iconnectSampleAppLabApp.ward.home.title">Manage Ward</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ward" [routerLink]="['/ward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="iconnectSampleAppLabApp.ward.home.createLabel">
            Add Ward
            </span>
        </button>
    </h2>
    <ic-alert></ic-alert>
    <br/>
    <div class="d-flex align-items-start">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                placeholder="Search for Ward"
                [(ngModel)]="searchWardName"
                name="searchWardName"
                autocomplete="off"
            />
        </div>
        <button class="btn btn-primary ml-2" (click)="filterWards()">Search</button>
        </div>
    <div class="table-responsive" *ngIf="wards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.sn">S/N</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wardReferenceId"><span jhiTranslate="iconnectSampleAppLabApp.ward.wardReferenceId">Ward Reference ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wardName"><span jhiTranslate="iconnectSampleAppLabApp.ward.wardName">Ward Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ward of filteredWards; trackBy: trackId">
                <td><a [routerLink]="['/ward', ward.id, 'view' ]">{{ward.id}}</a></td>
                <td>{{ward.wardReferenceId}}</td>
                <td>{{ward.wardName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ward', ward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ward', ward.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <!-- [routerLink]="['/', { outlets: { popup: 'ward/' + ward.id + '/delete'} }]" -->
                        <button type="submit"
                                [routerLink]="['/ward', ward.id, 'delete']"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="wards && wards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
