<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
            <h2 id="ic-ward-heading" jhiTranslate="iconnectSampleAppLabApp.ward.home.view">View Ward</h2>

            <div class="row">
                <ic-alert-error></ic-alert-error>

                <div class="form group col-6" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.sn">S/N</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group col-6" [hidden]="!editForm.get('wardReferenceId')!.value">
                    <label jhiTranslate="iconnectSampleAppLabApp.ward.wardReferenceId" for="wardReferenceId">Ward Reference ID</label>
                    <input type="text" class="form-control" name="wardReferenceId" id="field_wardReferenceId"
                           formControlName="wardReferenceId" readonly/>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardName" for="field_wardName">wardName</label>
                    <input type="text" class="form-control" name="wardName" id="field_wardName"
                           formControlName="wardName" maxlength="10" readonly/>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardClassType" for="field_wardClassType">Ward Class Type</label>
                    <input type="text" class="form-control" name="wardClassType" id="field_wardClassType"
                           formControlName="wardClassType" readonly/>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardLocation" for="field_wardLocation">Ward Location</label>
                    <input type="text" class="form-control" name="wardLocation" id="field_wardLocation"
                            formControlName="wardLocation" readonly/>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label" for="field_numberOfBeds">Number of Beds</label>
                    <input type="text" class="form-control" [value]="numberOfBeds" readonly>
                </div>
            </div>

            <div class="table-responsive" *ngIf="beds && beds.length > 0; else noBeds">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort>
                    <!-- <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"  [callback]="transition.bind(this)"> -->
                    <th ><span jhiTranslate="global.field.sn">S/N</span></th>
                    <th jhiSortBy="bedReferenceId"><span jhiTranslate="iconnectSampleAppLabApp.bed.bedReferenceId">Bed Reference ID</span></th>
                    <th jhiSortBy="bedName"><span jhiTranslate="iconnectSampleAppLabApp.bed.bedName">Bed Name</span></th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bed of beds;">
                        <td>{{ bed.id }}</td>
                        <td>{{bed.bedReferenceId}}</td>
                        <td>{{bed.bedName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
            </div>
            <ng-template #noBeds>
                <div class="alert alert-info">No bed records</div>
            </ng-template>
        </form>
    </div>
</div>

