<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="ic-ward-heading" jhiTranslate="iconnectSampleAppLabApp.ward.home.view">View Ward</h2>

            <div class="row">
                <ic-alert-error></ic-alert-error>

                <div class="form group col-6" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.sn">S/N</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group col-6" [hidden]="!editForm.get('wardReferenceId')!.value">
                    <label jhiTranslate="iconnectSampleAppLabApp.ward.wardReferenceId" for="wardReferenceId">Ward Reference ID</label>
                    <input type="text" class="form-control" name="wardReferenceId" id="field_wardReferenceId"
                           formControlName="wardReferenceId" readonly/>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardName" for="field_wardName">wardName</label>
                    <input type="text" class="form-control" name="wardName" id="field_wardName"
                           formControlName="wardName" maxlength="10" readonly/>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardClassType" for="field_wardClassType">Ward Class Type</label>
                    <input type="text" class="form-control" name="wardClassType" id="field_wardClassType"
                           formControlName="wardClassType" readonly/>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardLocation" for="field_wardLocation">Ward Location</label>
                    <input type="text" class="form-control" name="wardLocation" id="field_wardLocation"
                           formControlName="wardLocation" readonly/>
                </div>

            </div>

            <div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.add">Add</span>
                </button>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
            </div>
        </form>
    </div>
</div>

